.hero {
  background-color: #071222;
  background-image: url('../img/helix.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;

  color: #f2f9ff;

  text-align: center;
  padding: 0rem 1rem;

  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero a {
  position: absolute;
  bottom: 0px;

  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-decoration: none;
  color: #f2f9ff;
  font-size: 18px;
}

.hero a {
  padding-top: 70px;
}
.hero a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.hero p {
  font-size: 24px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.hero h1 {
  font-size: 48px;
}

.hero button {
  font-weight: 600;
  letter-spacing: 3px;
}

.hero .text {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@media (min-width: 993px) {
  .hero {
    height: 100vh;
    background-position: bottom;
  }

  .hero p {
    font-size: 36px;
  }

  .hero h1 {
    font-size: 64px;
  }
}

/* Productos */
.productos {
  padding: 0 !important;
  margin: 0;
  max-width: 1140px !important;
  position: relative;
}

.producto {
  height: 100vh;
  text-align: center;
  background-color: rgba(242, 249, 255, 1) !important;
  position: relative;
  width: 100%;
}

.producto .imagen {
  background-size: auto;
  background-position: bottom;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  height: 100%;
}

.producto .descripcion {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  color: #3c3d4f !important;
  background-color: inherit !important;
  font-weight: 600;
  height: 65%;
}

.img-container {
  height: 35%;
}
.descripcion h2 {
  font-size: 36px;
}

.descripcion p {
  font-size: 18px;
}

.descripcion {
  font-size: 18px;
  padding: 2rem 1.5rem !important;
  line-height: 2rem;
  text-align: center;
}

.frag {
  background-image: url('../img/DNA.jpg');
  background-position: center !important;
  background-size: cover !important;
}

.ros {
  background-image: url('../img/ROS.jpg');
  background-position: center !important;
  background-size: cover !important;
}

.heading {
  font-size: 36px;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0.5rem;
}

.wide-btn {
  width: 100%;
  margin: 5px;
  font-size: 18px !important;
  max-width: 150px;
  font-weight: 600;
}

.links a {
  width: 100%;
}

.wide-btn svg {
  margin-left: 5px;
  width: 22px;
  height: 22px;
}

@media (min-width: 993px) {
  /* .descripcion {
    padding: 0 30% !important;
  } */

  .img-container {
    position: relative;
    padding: 1rem !important;
    flex: 1 !important;
  }

  .productos {
    margin: auto;
  }

  .producto {
    width: 100%;
    height: 50vh;
    position: relative;
    display: flex;
  }

  .frag {
    background-image: url('../img/DNA.jpg');
  }

  .producto .descripcion,
  .producto .img-container {
    height: 100%;
    flex: 1;
  }

  .producto .descripcion {
    flex: 1;
  }

  .producto .imagen {
    background-repeat: no-repeat;
    background-size: cover !important;
    box-sizing: border-box !important;
    height: 100% !important;
    width: 100% !important;
    border-radius: 3px;
  }

  .wide-btn {
    max-width: 220px;
  }

  .links {
    display: flex!;
    justify-content: center;
    gap: 2rem;
  }

  .invertido {
    flex-direction: row-reverse;
  }

  .hero p {
    width: 60% !important;
  }
}
