body {
  margin: 0;

  background-color: #f2f9ff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', serif;
}

button {
  border-radius: 2.5px !important;
}
